@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Montserrat|Open+Sans');
#cardCount {
    position: fixed;
    bottom: 70%;
    right: 80%;
    color: rgba(0, 0, 0, 0.76);
    background-color: rgba(127, 255, 212, 0.562);
    padding: 5px;
    border-radius: 5px;
}

#Buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.Sort-Buttons {
    border: none;
    background-color: aquamarine;
    padding: 3px;
    cursor: pointer;
    color: black;
    padding: 5px;
    margin: 2px;
}

.Sort-Buttons:hover {
    background-color: beige;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 3000px;
    border: 1px solid black;
}

#myDeck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 3000px;
    border: 1px solid black;
}

.card {
    color: aliceblue;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin: 5px;
    /* transform stuff */
    cursor: pointer;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transition: 400ms;
}

.newCard {
    color: aliceblue;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin: 5px;
    /* transform stuff */
    cursor: pointer;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transition: 400ms;
}


/* append this class with JS to flip */

.card.flip {
    transform: rotateY(180deg);
}

.newCard.flip {
    transform: rotateY(180deg);
}

.front {
    box-sizing: border-box;
    background-image: linear-gradient(rgb(182, 222, 255), rgb(32, 88, 243));
    border: 8px solid yellow;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.267);
}

.back {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: blue;
    border: 8px solid rgb(4, 0, 255);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.267);
}

.front img {
    margin: 0;
    text-align: center;
    width: 70%;
    background-color: white;
    border: 1px solid black;
}

.back img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.front h1 {
    margin: 0;
    /* position: absolute; */
    color: rgb(0, 89, 116);
    font-family: 'Allerta Stencil', sans-serif;
}

.statBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Open Sans', sans-serif;
    /* width: 70%; */
    /* border: 1px solid black; */
}

.statBox p {
    margin: 2px;
    text-align: left;
    width: 100%;
    padding-left: 6px;
    margin: 0;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.statParent {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(158, 52, 52);
    margin: 2px;
}

.statBar {
    background-color: green;
    height: 100%;
    margin: 0;
    border-radius: 10px;
    padding: 0;
    padding-top: -10px;
}

.back button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(226, 226, 226, 0.801);
    border: 1px solid black;
    color: rgba(4, 32, 54, 0.856);
    font-size: 16px;
    padding: 12px 24px;
    /* border: none; */
    cursor: pointer;
    border-radius: 20px;
}

.back button:hover {
    background-color: rgba(127, 255, 212, 0.342);
    border: none;
}