div {
    background-color: orange;
}
/* CARDS */
#cards {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
.cardDiv {
    background-color: orange;
    display: flex;
    
}
figure {
    border: thin rgb(87, 72, 46) solid;
    background-color: rgb(255, 255, 255);
    width: 200px;
    
    margin: 25px, 10px;
    
}
figcaption {
    color: black;
}
img {
    width: 150px;
}

/* Card Flip */
.front {
    border: 15px rgb(255, 217, 0) solid;
    background-color: rgb(57, 116, 226);
    flex-wrap: wrap;
    display: flex;
    flex-flow: column;
    margin: 8px;
    height: 350px;
    padding: 0;
    border-radius: 9px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
}